    <div class="rounded container col-10 p-2 m-3 mx-auto" style="background-image: url('images/bgHome.png');">
        <div class="">
          <h2>Welcome to Pantrimonium!</h2>
          <h4>The site that lets you organize your ingredients.  Whether from your pantry, fridge, or freezer you can see what you have and what you can make.  Create a shopping list and see what you are running out of (or worse, what is about to expire)</h4>
          <h4>Organize your recipes as well and have it link with your inventory!</h4>
      </div>
    </div>

    <div class="rounded container col-10 p-2 m-3 mx-auto" style="background-image: url('images/bgHome.png');">
      <div class="text-center">
          <h3>Please log in or sign up to get started!</h3>
          <h3></h3>
      </div>
    </div>
