    <div class="rounded container col-10 p-2 m-3 mx-auto" style="background-image: url('images/bgHome.png');">
        <div class="">
          <h2>Welcome to Pantrimonium!</h2>
          <h4>The site that lets you organize your ingredients.  Whether from your pantry, fridge, or freezer you can see what you have and what you can make.  Create a shopping list and see what you are running out of (or worse, what is about to expire)</h4>
          <h4>Organize your recipes as well and have it link with your inventory!</h4>
      </div>
    </div>

    <div class="rounded container col-10 p-2 w-100 m-3 mx-auto" style="background-color: #ff9a4a;">
        <div class="row">
            <div class="col-md-6">
              <h2>Login</h2>
          
              <form class="form login-form">
                <div class="form-group">
                  <label for="email-login">eMail:</label>
                  <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                  <label for="password-login">Password:</label>
                  <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Login</button>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <h2>Signup</h2>
          
              <form class="form signup-form">
                <div class="form-group">
                  <label for="name-signup">Name:</label>
                  <input class="form-input" type="text" id="name-signup" />
                </div>
                <div class="form-group">
                  <label for="email-signup">eMail:</label>
                  <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                  <label for="tel-signup">Phone #:</label>
                  <input class="form-input" type="tel" id="tel-signup" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-45-678"/>
                </div>
                <div class="form-group">
                  <label for="password-signup">Password:</label>
                  <input class="form-input" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Signup</button>
                </div>
              </form>
            </div>
          </div>
          <script src="./js/login.js"></script>
    </div>
