    <div class="row">
      <div class="col-auto align-middle">
        <h1>Kitchen</h1>
      </div>
    </div>

    {{#each sections}}
      <div class="btn rounded mx-3 p-2 mb-3 text-center align-middle btn-block" style="background-image: url('images/bgFridge.png');">
      {{!-- creates link to section page using its id --}}
        <h2><a href="/section/{{id}}">{{name}}</a></h2>
      </div>
    {{/each}}