body {
    font-size: 15px;
    color: black;
    font-weight: bold;
    background-color: #ffcc57;
}

nav {
    background-color: #ff8201;
}

.logo-image {
    background-image: url("images/logoFridge3.png");
    background-color: #cccccc;
    background-size: 50px 50px;
    background-position: left center;
    background-repeat: no-repeat;
  }
  
.runningLow {
    display: flex;
    justify-content: space-between;
}

.checkbox
{
  display: none;
}

.mobShow {
  visibility:hidden;
}

@media (max-width:768px){
  .mobShow {
    visibility:visible;
  }
}

@media print {
    body, html {
      margin: 0;
      padding:0;
      color: #000;
      background-color: #fff;
      font-size: 18pt; 
    }
    .noPrint{
        display:none;
    }
    .checkbox
      {
        display: block;
      }
}