<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
   <title>Pantrimonium</title> 
</head>

<body>
​
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff8201;">
        <!-- <div class="btn-secondary btn-lg text-dark">Pantrimonium - Homepage</div> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dashboard">My Kitchen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./recipe">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./recipe">My Ingredients</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Login</button>
          </form>
        </div>
    </nav>  

<!--First place holder for my refrigerator-->
<div class="col-6 container p-2 w-100 m-3" style="background-color: #ff9a4a;">
        
        <!-- my  content here-->
<div class="myRefrigerator" style="background-color:#ff9a4a">

     <div class="d-grid gap-2">
         <button class="btn btn-primary" type="button">+New Item</button>
        </div>
              
    <div class="card" style="width: 100%;">
        <div class="card-header">
             My Refrigerator
             </div>
             <ul class="list-group list-group-flush">
                <li class="list-group-item">An item
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </li>
                <li class="list-group-item">A second item
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </li>
                <li class="list-group-item">A third item
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </li>
              </ul>
          </div>
    
        </div>
    </div>

<!--second place holder for my pantry-->
<div class="col-6 container p-2 w-100 m-3" style="background-color: #ff9a4a;">
        
    <!-- my  content here-->
<div class="myFreezer" style="background-color:#ff9a4a">

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">+New Item</button>
      </div>

    <div class="card" style="width: 100%">
        <div class="card-header">
          My Freezer
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-primary">Delete</button>
              </div>
          </li>
          <li class="list-group-item">A second item
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-primary">Delete</button>
              </div>
          </li>
          <li class="list-group-item">A third item
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-primary">Delete</button>
              </div>
          </li>
        </ul>
      </div>

    </div>
    </div>


<!--third place holder for my pantry-->
<div class="col-6 container p-2 w-100 m-3" style="background-color: #ff9a4a;">
        
    <!-- my  content here-->
<div class="myPantry" style="background-color:#ff9a4a">

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">+New Item</button>
      </div>

    <div class="card" style="width: 100;">
        <div class="card-header">
          My Pantry
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Update</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
            <li class="list-group-item">A second item
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Update</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
            <li class="list-group-item">A third item
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Update</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
          </ul>
      </div>

    </div>
    </div>

    <!--My Recipe's Sectipn-->
<div class="col-6 container p-2 w-100 m-3" style="background-color: #ff9a4a;">
        
    <!-- my  content here-->
<div class="myRecipe" style="background-color:#ff9a4a">

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">+New Recipe</button>
      </div>

    <div class="card" style="width: 100%;">
        <div class="card-header">
          My Pantry
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Recipe #1
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Go to!</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
            <li class="list-group-item">Recipe #2
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Go to!</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
            <li class="list-group-item">Recipe #1
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Go To!</button>
                  <button type="button" class="btn btn-primary">Delete</button>
                </div>
            </li>
          </ul>
      </div>

    </div>
    </div>

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


​
    <p class="p-4">  
    <footer class="pos-f-t no-gutters" >
        <nav class="navbar fixed-bottom justify-content-center" style="background-color: #ff8201;">
            <!-- Footer -->
        </nav>
    </footer>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>