body {
    font-family: papyrus;
    font-size: 15px;
    color: black;
    font-weight: bold;
    background-color: #ffcc57;
}

nav {
    background-color: #ff8201;
}

.runningLow {
    display: flex;
    justify-content: space-between;
}